﻿@using Notes.Views.Login;
@model LoginViewModel
@{
}
<style>
    body{
        background-color: #a2a73ed9;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .row1{
    width: 100%;
    height: 100%;
    position: fixed;
    top: -88px;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    }

    .wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    a {
        display: block;
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #333;
        border: 2px solid #333;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .35s;
    }

        a span {
            position: relative;
            z-index: 2;
        }

        a:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #c93131;
            transition: all .35s;
        }

        a:hover {
            color: #fff;
        }

            a:hover:after {
                width: 100%;
            }

    .seven {
        color: #524E49; /* Цвет текста */
        background: #b56749e3; /* Фоновый цвет */
        padding: 0px; /* Отступ текста от границ */ /*Размер текста */
        border-radius: 5px; /* Закругление уголков */
        box-shadow: 0px 1px 3px; /* Тень */
        position: relative; /* Задаём относительное позиционирование */
        transition: all 500ms ease-out; /* Задаём анимацию с временем выполнения 500ms */
        transform-style: preserve-3d; /* Трансформация показывается как 3D */
        width: 203px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #333;
        border: 2px solid #333;
        letter-spacing: 2px;
        text-align: center;
        position: fixed;
        transition: all .35s;
        
    }
        /* Создаём псевдо элемент - верхняя грань кнопки */
        .seven:after { /* Добавляем псевдо элемент :after */
            content: 'Confirm';
            position: absolute;
            top: -50%;
            left: -3px;
            width: 200px;
            height: 40px;
            background: #1e7713cf;
            border-radius: 5px;
            box-shadow: 0px 1px 3px;
            transform-origin: bottom;
            transform: rotateX(90deg);
            line-height: 40px;
            letter-spacing: 2px;
            font-size: 18px;
            font-family: sans-serif;
            color: #333;
            border: 2px solid #333;
            text-align: center;
            /* Размещаем в горизонтальной плоскости, в результате чего псевдо элемент не виден */
        }
        /* Эффект при наведении */
        .seven:hover { /* Добавляем псевдо класс :hover */
            transform-origin: bottom; /* Определяем точку, относительно которой происходит вращение */
            transform: rotateX(-90deg); /* Поворачиваем на 90 градусов */
        }

</style>
<div class="row1">
    <div class="col-md-6 offset-3" style="margin-right: 7%;">
        <p>
            <h4 style="width: 100%;
                       margin-bottom: 61px;
                       margin-left: 196px;
                       font-size: 30px;
                       font-family: sans-serif;
                       text-decoration: none;
                       color: #333;">
                Log in to your account
            </h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger" style="margin-bottom: 30px;
                                                             font-size: 20;
                                                             color: #a31c1c;">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style="margin-left:-50px;">
                        <label asp-for="EmailAddress" class="control-label" style="font-size: 25px;
                                                                                   font-family: sans-serif;
                                                                                   text-decoration: none;
                                                                                   color: #333;"></label>
                        <input asp-for="EmailAddress" class="form-control" style="width: 500px;
                                                                                  height: 40px;
                                                                                  border:3px solid #b16d18;
                                                                                  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
                                                                                  font-family:sans-serif;
                                                                                  font-size: 18px;" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-top: 12px;">
                        <label asp-for="Password" class="control-label" style="font-size: 25px;
                                                                               font-family: sans-serif;
                                                                               text-decoration: none;
                                                                               color: #333;"></label>
                        <input asp-for="Password" class="form-control" style="width: 500px;
                                                                              height: 40px;
                                                                              border: 3px solid #b16d18;
                                                                              box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
                                                                              font-family:sans-serif;
                                                                              font-size: 18px;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    
                    <div class="wrapper" style="margin-top: 101px; margin-left: -29px;">
                        <form class="wrapper" asp-area="" asp-controller="Login" asp-action="Login" method="post">
                            <button class="seven" type="submit">Login</button>
                        </form>
                              

                        <a href="/Home/Index" style="margin-top: 53px;"><span>Cancel</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
