<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
    <style>
        body {
            background-color: #a2a73ed9;
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            font-family: 'Open Sans Condensed', sans-serif;
        }
        .parent{
            width: 100%;
            height: 100%;
            position: fixed;
            top: -150px;
            left: 0;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            overflow: auto;
        }

        .wrapper {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        a {
            display: block;
            width: 400px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            font-family: sans-serif;
            text-decoration: none;
            color: #333;
            border: 2px solid #333;
            letter-spacing: 2px;
            text-align: center;
            position: relative;
            transition: all .35s;
        }

            a span {
                position: relative;
                z-index: 2;
            }

            a:after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: #957038;
                transition: all .35s;
            }

            a:hover {
                color: #fff;
            }

                a:hover:after {
                    width: 100%;
                }

        .seven {
            color: #524E49; /* Цвет текста */
            background: #e53434; /* Фоновый цвет */
            padding: 0px; /* Отступ текста от границ */ /*Размер текста */
            border-radius: 5px; /* Закругление уголков */
            box-shadow: 0px 1px 3px; /* Тень */
            position: relative; /* Задаём относительное позиционирование */
            transition: all 500ms ease-out; /* Задаём анимацию с временем выполнения 500ms */
            transform-style: preserve-3d; /* Трансформация показывается как 3D */
            width: 404px;
            height: 46px;
            line-height: 40px;
            font-size: 18px;
            font-family: sans-serif;
            text-decoration: none;
            color: #333;
            border: 2px solid #333;
            letter-spacing: 2px;
            text-align: center;
            position: relative;
            transition: all .35s;

        }
            /* Создаём псевдо элемент - верхняя грань кнопки */
            .seven:after { /* Добавляем псевдо элемент :after */
                content: 'Confirm';
                position: absolute;
                top: -50%;
                left: -3px;
                width: 402px;
                height: 46px;
                background: #1e7713cf;
                border-radius: 5px;
                box-shadow: 0px 1px 3px;
                transform-origin: bottom;
                transform: rotateX(90deg);
                line-height: 40px;
                letter-spacing: 2px;
                font-size: 18px;
                font-family: sans-serif;
                color: #333;
                border: 2px solid #333;
                text-align: center;


                /* Размещаем в горизонтальной плоскости, в результате чего псевдо элемент не виден */
            }
            /* Эффект при наведении */
            .seven:hover { /* Добавляем псевдо класс :hover */
                transform-origin: bottom; /* Определяем точку, относительно которой происходит вращение */
                transform: rotateX(-90deg); /* Поворачиваем на 90 градусов */
            }

     </style>
</head>
<body>
    <div class="parent">
        <div class="logo">
            <img src="~/images/logo.png" width="150px" height="150px">
        </div>
        <div class="wrapper">
            <a href="/Notes/Index"><span>New Notes</span></a>
        </div>
        <div class="wrapper" style="margin-top:50px;">
            <a href="/Notes/AllNotes"><span>All Notes</span></a>
        </div>
        <form class="wrapper" style="margin-top:106px" asp-area="" asp-controller="Login" asp-action="Logout">
            <button class="seven" type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
